.Breadcrumb {
	grid-column: 2 / end;
	display: flex;
	align-items: center;
	margin: var(--gap) 0;

	a {
		font-size: var(--fs-small);
		color: var(--color-neutral-dark);
		text-decoration: none;
		font-weight: normal;

		&:last-child {
			font-weight: bold;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	.breadcrumb__chevron {
		margin: 0 6px;
		display: flex;
		align-items: center;

		&:last-child {
			display: none;
		}
	}
}
