.container {
  max-width: 1280px;
  margin: 0 auto;
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid {
	display: grid;
	gap: var(--gap-grid)
}
